/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2016, 10:29:08 AM
    Author     : dang.vietson
*/

.pagination-noResults {    
    p {
        /*background: red;*/
        min-height: 100px;
        border: 1px solid #EAE3E3;
        background-color: #EEE;
        color: #428BD2;
        font-weight: bold;
        padding: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;        
    }
}

.job-details-contact{
    header {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    section label {
        display: block;
        font-weight: normal;
        overflow: auto;
        margin: 15px 0;
        font-size: 13px;
        
        strong {
            width: 50%;
            float: left;
        }
        
        span {
            width: 45%;
            float: left;
        }
    }
    
    section figure {
        text-align: right;
        margin-top: 30px !important;
    }
    
}

#map {
    height: 350px;
    width: 100%;
    
    #pac-input {
            margin-top: 10px;
            padding: 10px;
            border: solid 1px #D4D4D4;
            /* box-shadow: inset 1px 1px 2px 0 #707070; */
            transition: box-shadow 0.3s;
            width: 250px;
        :focus {
            box-shadow: inset 1px 1px 2px 0 #c9c9c9;
        }
    }
}

.footer-section {
    margin: 25px 0;
    text-align: right;
    
    section button {
        width: 170px;
    }
}