/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2016, 10:29:08 AM
    Author     : dang.vietson
*/

.pagination-noResults {    
    p {
        /*background: red;*/
        min-height: 100px;
        border: 1px solid #EAE3E3;
        background-color: #EEE;
        color: #428BD2;
        font-weight: bold;
        padding: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;        
    }
}
