RewriteEngine on

RewriteRule ^tim-kiem-ung-vien/?(.*)?$ index.php?category=jobseekers&action=search [QSA]

RewriteRule ^dang-ky/?$ index.php?category=home&action=credits
RewriteRule ^dang-ky-dich-vu/?$ index.php?category=home&action=credit_selection
RewriteRule ^doi-mat-khau index.php?category=home&action=password
RewriteRule ^tin-nhan index.php?category=home&action=received

RewriteRule ^thong-tin-ca-nhan index.php?category=profile&action=current
RewriteRule ^chinh-sua-thong-tin-ca-nhan index.php?category=profile&action=edit

RewriteRule ^danh-sach-cong-viec index.php?category=jobs&action=my
RewriteRule ^dang-viec-moi index.php?category=jobs&action=add

RewriteRule ^danh-sach-don-xin-viec index.php?category=application_management&action=list
RewriteRule ^don-da-phe-duyet index.php?category=application_management&action=approved
RewriteRule ^don-da-tu-choi index.php?category=application_management&action=rejected

RewriteRule ^chi-tiet-cong-viec/([0-9]+)/(.*)/?$ index.php?category=jobs&action=details&id=$1 [L,NC,QSA]
RewriteRule ^sua-cong-viec/([0-9]+)/(.*)/?$ index.php?category=jobs&action=my_edit&id=$1 [L,NC,QSA]
RewriteRule ^danh-sach-cau-hoi/([0-9]+)/(.*)?$ index.php?category=jobs&action=questionnaire&id=$1 [L,NC,QSA]
RewriteRule ^them-cau-hoi/([0-9]+)/?$ index.php?category=jobs&action=new_questionnaire&job_id=$1 [L,NC,QSA]
RewriteRule ^sua-cau-hoi/([0-9]+)/([0-9]+)/?$ index.php?category=jobs&folder=questionnaire&page=edit&questionnaire_id=$1&job_id=$2 [L,NC,QSA]
RewriteRule ^CV-ung-vien/([0-9]+)/([0-9]+)/?$ index.php?category=application_management&folder=my&page=details&posting_id=$1&apply_id=$2 [L,NC,QSA]
RewriteRule ^duyet-CV/([0-9]+)/([0-9]+)/?$ index.php?category=application_management&folder=list&page=reply&Proceed=approve&id=$1&posting_id=$2 [L,NC,QSA]
RewriteRule ^tu-choi-CV/([0-9]+)/([0-9]+)/?$ index.php?category=application_management&folder=list&page=reply2&Proceed=reject&id=$1&posting_id=$2 [L,NC,QSA]




#404 error
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /vieclambanthoigian.com.vn/404.php [L]