/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2016, 12:33:13 PM
    Author     : dang.vietson
*/

.list-applied-CVs {
    margin-top: 35px;
    margin-bottom: 15px;
    
    section table thead tr {
        text-align: center;
    }
    
    section table tbody tr {
        text-align: center;
    }
}

.section {
    margin: 40px 0;
}

.JS_profile {
    p {
        overflow: auto;
        display: block;
        
        label{
            width: 20%;
            float: left;
        }
        
        span {
            width: 80%;
            float: left;
        }
    }
}

.logoEdit {
    overflow: auto;
    
    label {
        display: block;
        float: left;
        margin-right: 20px;
        max-width: 230px;
        margin-top: 10px;
    }
    
    span {
        display: block;
        float: right;
    }
}

.disabled {
    background: #F1F0F0 !important;
}

/*CREDITS*/

.captcha label{
    display: block;
    margin-top: 15px;
}

.table-tr {
    height: 44px;
    background-color: #62B6F0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62B6F0), to(#0056C2));
    background-image: -webkit-linear-gradient(top, #62B6F0, #0056C2);
    background-image: -moz-linear-gradient(top, #62B6F0, #0056C2);
    background-image: -ms-linear-gradient(top, #62B6F0, #0056C2);
    background-image: -o-linear-gradient(top, #62B6F0, #0056C2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#62B6F0, endColorstr=#0056C2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00A4E8, endColorstr=#0175b8)";
}

.table-tr, .header-title {
    td{
        text-align: center;
    }
}

.db-pricing-seven:hover {
    margin-top: 5px;
    -moz-transition: margin-top 0.25s ease 0s;
    -ms-transition: margin-top 0.25s ease 0s;
    transition: margin-top 0.25s ease 0s;
}

.db-pricing-seven {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #C5C2C2;
    background-color: #EDEDED;
}

.db-pricing-seven {
    ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }
}

.db-pricing-seven ul li.price {
    ul {
        li {
            .price {
                background-color: #fff;
                padding: 40px 20px 20px 20px;
                font-size: 20px;
                font-weight: 900;
                color: #353c3e;
                font-weight: 900;
            }
        }
    }
    
}

.db-pricing-seven {
    ul {
        li {
            border-bottom: solid 1px #D8D8D8;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

.db-pricing-seven {
    .pricing-footer {
        padding: 20px;
    }    
}

.subscription-main {
    background-color: #f1f4f4;
}