/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2016, 12:33:13 PM
    Author     : dang.vietson
*/

.list-applied-CVs {
    margin-top: 35px;
    margin-bottom: 15px;
    
    section table thead tr {
        text-align: center;
    }
    
    section table tbody tr {
        text-align: center;
    }
}

.section {
    margin: 40px 0;
}

.JS_profile {
    p {
        overflow: auto;
        display: block;
        
        label{
            width: 20%;
            float: left;
        }
        
        span {
            width: 80%;
            float: left;
        }
    }
}

.logoEdit {
    overflow: auto;
    
    label {
        display: block;
        float: left;
        margin-right: 20px;
        max-width: 230px;
        margin-top: 10px;
    }
    
    span {
        display: block;
        float: right;
    }
}

.disabled {
    background: #F1F0F0 !important;
}